---
import type { MarkdownFile } from "../../types/Markdown";
import Heading from "../common/heading.astro";
import UpdateCard from "../common/UpdateCard.astro";

const allUpdates = import.meta.glob<MarkdownFile>("/src/content/updates/*.md");

const updates = await Promise.all(
  Object.values(allUpdates).map(async (update) => {
    const { frontmatter } = await update();
    return { ...frontmatter };
  }),
);

const { title } = Astro.props;

// Filter out updates where the title matches the prop `tittle`
const filteredUpdates = updates.filter((update) => update.title !== title);

// Slice to get only 3 updates
const updatesToDisplay = filteredUpdates.slice(0, 3);

---
<section
  class="container pb-2 pb-sm-3 pt-4 mt-lg-3 mt-xl-5"
  style="background-color: white;"
>
  <div class="container">
    <Heading title="Updates" />

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4"
    >
      {updatesToDisplay.map((update, index) => 
        <UpdateCard update={update} />
      )}
    </div>
  </div>
</section>
