<div class='container' style='text-align: center;'>
  <div class='updateFocus-header'>
    <h1>
      Ms. Shreya Jain, one of the Kiran Pratibha scholars, received her gold
      medal from the CM of Uttar Pradesh.
    </h1>
  </div>
  <div class='updateFocus-line'></div>
  <div class='updateFocus-content'>
    <div class='updateFocus-paragraph' id='c4'>
      Ms. Shreya Jain, a distinguished scholar, was honored as one of the Kiran
      Pratibha scholars, a prestigious recognition in the academic realm. This
      accolade underscores her exceptional academic prowess and dedication to
      her studies. Her commitment to excellence has not only earned her
      admiration but also tangible recognition in the form of a gold medal.
    </div>
    <div class='updateFocus-paragraph-2' id='c5'>
      The ceremony where Ms. Shreya Jain received her gold medal was graced by
      the presence of the Honourable Chief Minister of Uttar Pradesh, Shri Yogi
      Adityanath. His participation added significance and grandeur to the
      event, highlighting the importance of academic achievements and scholarly
      endeavors.
    </div>
    <div class='updateFocus-paragraph' id='c6'>
      As Ms. Shreya Jain stood on the stage, adorned with her gold medal, she
      embodied the culmination of hard work, perseverance, and academic
      brilliance. Her achievements serve as an inspiration to aspiring scholars
      and students across the nation, showcasing the rewards of dedication and
      commitment to one's educational journey.
    </div>
    <div class='image-container'>
      <img
        src='/assets/images/posts/shreyagoldmedal.png'
        alt='Ms. Shreya Jain receiving her gold medal'
      />
    </div>
    <div class='updateFocus-text-container'>
      <h2>
        Ms. Shreya Jain was a testament to her outstanding academic
        accomplishment.
      </h2>
      <p>
        The moment when Shri Yogi Adityanath, the Chief Minister of Uttar
        Pradesh, bestowed the gold medal upon Ms. Shreya Jain was a testament to
        her outstanding academic accomplishments. It marked not only a personal
        triumph for her but also a proud moment for her family, teachers, and
        mentors who have supported her throughout her academic endeavors.
      </p>
      <div class='updateFocus-box'>
        <p>
          I stood before the Chief Minister of Uttar Pradesh, My heart swelled
          with pride and gratitude. With trembling hands, I accepted the gold
          medal, feeling a rush of validation for many years of dedication. In
          that moment, as the audience erupted into applause, I knew my hard
          work had truly paid off.
        </p>
        <div class='updateFocus-signature'>-Shreya Jain</div>
      </div>
    </div>
  </div>
</div>
