<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership & Sponsorship Options</title>
    <link rel="stylesheet" href="/assets/css/Donation/membership.css">
</head>
<body>
    <div class="donation-c1">
        <div class="donation-c1-title">Membership & Sponsorship Options</div>
        <div class="donation-card-container">
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
            <div class="donation-card">
                <div class="donation-card-title1">Premier Supporter</div>
                <div class="donation-card-title2">1 Lakh</div>
                <div class="donation-card-text">Support our cause with a monthly donation of 1 Lakh.</div>
                <div class="donation-card-button">Join Now</div>
            </div>
        </div>
    </div>
</body>
</html>
