---
import { getEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Gallery from '../../components/about/Gallery.astro'
const aboutImage = (await getEntry('about', 'gallery')).data
---

<Layout title='Gallery'>
  <div style='padding-top: 120px;'>
    <Gallery />
  </div>
</Layout>
