.mission-container{
    background: white;
    max-width: 1303px;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 599px;
    margin-top:140px;
    
    }

.mission-text-box {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1px;
    text-align: justify;
    flex: 1;
    width:606px;
    height: 608px;
}
.mission-text-boxSecond{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1px;
    text-align: justify;
    flex: 1;
    width: 1297px;
    height: 190px;
    margin-top: -640px;
   
}
.mission-containerSecond{
    width: 1296px;
    height: 361px;
    gap: 40px;

}

.mission-title {
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 40px;
    text-align: justify;
    color: #121519;
    margin-bottom: 20px;
    width: 564px;
    height: 55px;
}

.mission-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 36px;
    height: 266px;
    
}

.mission-card {
    background: #F7FCFE;
    padding: 20px;
    border-radius: 24px;
    width: calc(33.33% - 26.67px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    

.mission-card-title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    color: #2B2E36;
    margin-top: 16px;
    padding: 10px;
    border-radius: 12px;
   
}

.mission-card-desc {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    color: #2B2E36;
    margin-top: -8px;
    padding: 10px;
    border-radius: 12px;
}

.mission-icon {
    width: 40px;
    height: 40px;
    padding: 0 0.6px 0 0.61px;
    margin-bottom: 16px;
    margin-left: 13px;
}
.mission-icon img{
    margin-top: 20px;
}

.mission-img {
    width:661px;
    border-radius: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 599px;
    margin-top: 15px;
}