.volunteers-c1 {
    width: 100%;
    background: #FFFFFF;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px; 
    box-sizing: border-box; 
    margin-top: 50px;
    margin-bottom: 50px; 
    border: 2px solid red;
}

.volunteers-c1-title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    color: #121519;
    margin-bottom: 40px;
}

.volunteers-c1-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.volunteers-c1-card {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 24px;
}

.volunteers-c1-card img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-bottom: 16px;
}

.volunteers-c1-card-title1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #121519;
    margin-bottom: 8px;
}

.volunteers-c1-card-title2 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #858C97;
}