<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aboutHero</title>
        <link rel="stylesheet" href="/assets/css/Home/Global.css" />
    </head>
    <body>
        <section class="position-relative" style="margin-top: 4rem">
            <div
                class="position-absolute object-fit-cover w-100 h-100 top-0 start-0 bg-size-cover bg-position-center mt-4"
                style="background-image: url(/assets/images/hero/aboutHero.png);"
            >
            </div>
            <div
                class="container position-relative z-2 text-center pt-2 pt-sm-4 pt-lg-5"
            >
            </div>
            <div class="d-none d-lg-block" style="height: 360px;"></div>
            <div class="d-none d-md-block d-lg-none" style="height: 260px;">
            </div>
            <div class="d-md-none" style="height: 160px;"></div>
        </section>
    </body>
</html>
