<div class="gallery-c1">
    <div class="gallery-c1-title1">See how the previous event unfolded</div>
    <div class="gallery-c1-title2">
        Get inspired with a selection of the keynotes about the Conference 2021
    </div>

    <div class="gallery-grid-container">
        <img
            class="small"
            src="/assets/images/programs/imageGallery.png"
            alt="imageGallery1"
        />
        <img
            class="small"
            src="/assets/images/programs/smallImageSecond.png"
            alt="VolunterGroupImage"
        />
        <img
            class="large"
            src="/assets/images/programs/shreyagoldmedal.png"
            alt="shreyaGoldMedal image"
        />
        <img
            class="large gallery-event-image-4"
            src="/assets/images/volunter/group.png"
            alt="Event Image 4"
        />
        <img
            class="small"
            src="/assets/images/programs/image.png"
            alt="hero Image 5"
        />
        <img
            class="small"
            src="/assets/images/hero/hero-image.jpg"
            alt="Event Image 6"
        />
    </div>

    <a href="#more" class="gallery-button">See More</a>
</div>
