---
import { getEntry } from "astro:content"
const aboutHero =(await getEntry("about","hero")).data
---
<section class="position-relative" style="margin-top: 4rem;">
  <div
      class="position-absolute w-100 h-100 object-fit-cover bg-size-cover bg-position-center mt-4"
      style="background-image: url(/assets/images/hero/aboutHero.png);"
  >
  </div>
  <div class="container position-relative z-2 text-center pt-2 pt-sm-4 pt-lg-5" style="top:35px">
     <h1 class="heroAbout-heading display-0 text-white pt-5">
         {aboutHero.heading}
      </h1>
      <p class="heroAbout-paragraph text-white opacity-90 mx-auto pb-3 pb-md-0 mb-4 mb-md-5"
       >
       "There is no force more powerfull than a woman determined to rise"
       </p>
       
  </div>

  <div class="d-none d-lg-block" style="height:70px;"></div>
<div class="d-none d-md-block d-lg-none" style="height: 260px;"></div>
<div class="d-md-none" style="height: 160px;"></div>

  
</section>

