<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/assets/css/About/mission.css">
</head>
<body>
    <div class="mission-container">
        <img class="mission-img" src="/assets/images/hero/hero.jpg" alt="Image">
        <div class="mission-text-box">
            Ma Kiran Jain, born on October 17th, 1955, and departed from us on June 15th, 2015, was not just a person, but a beacon of hope and resilience. Her words echoed a profound truth that resonates deeply within us: the failure of a society to nurture the dreams of its hardworking and talented youth is a failure of the society as a whole. Kiran Jain believed fervently that the progress of a society is intricately tied to the aspirations and achievements of its diligent and industrious members. She understood that when barriers such as lack of resources impede the realization of these dreams, it not only hampers individual potential but also casts a shadow over the collective advancement of society. Despite facing extreme hardships in her own life, Kiran Jain remained a symbol of unwavering hope and resilience. Her smile, even in the face of adversity, was a testament to her inner strength and unwavering spirit. It was her wish that no deserving indivi-
        </div>
    </div>
    <div class="mission-container">
        <div class="mission-text-box">
            dual should be deprived of the opportunity to fulfill their dreams due to circumstances beyond their control. In her vision, she saw the empowerment of every hardworking and talented youth as essential to steering society towards a path of progress and prosperity. From the seeds of her unwavering belief and vision, the Kiran Foundation was established. Inspired by her life and guided by her principles, the foundation endeavors to uplift and support those who, like Kiran Jain herself, confront obstacles on their journey to realizing their aspirations.
        </div>
    </div>
    <div class="mission-container">
        <div class="mission-title">OUR MISSION AND VISION</div>
        <div class="mission-card-container">
            <div class="mission-card">
                <div class="mission-icon"></div>
                <div class="mission-card-title">Individual approach</div>
                <div class="mission-card-desc">Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur neque congue aliqua dolor do</div>
            </div>
            <div class="mission-card">
                <div class="mission-icon"></div>
                <div class="mission-card-title">Integrated analytics</div>
                <div class="mission-card-desc">Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur neque congue aliqua dolor do</div>
            </div>
            <div class="mission-card">
                <div class="mission-icon"></div>
                <div class="mission-card-title">Step by step work</div>
                <div class="mission-card-desc">More erat leo proin odio est sed sit felis facilisi integer sed congue neque turpis dictumst sit sed volutpat aliquet tortor non</div>
            </div>
        </div>
    </div>
</body>
</html>
