<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/assets/css/About/team.css">
</head>
<body>

    <div class="team-container">
        <div class="team-title">Team of professionals</div>
        <div class="team-cards">
            <div class="team-card">
                <img src="/assets/images/team/team1.jpg" alt="Team Member 1">
            </div>
            <div class="team-card">
                <img src="/assets/images/team/team2.jpg" alt="Team Member 2">
            </div>
            <div class="team-card">
                <img src="/assets/images/team/team3.jpg" alt="Team Member 3">
            </div>
            <div class="team-card">
                <img src="/assets/images/team/team4.jpg" alt="Team Member 4">
            </div>
            <div class="team-card">
                <img src="/assets/images/team/team5.jpg" alt="Team Member 5">
            </div>
            <div class="team-card">
                <img src="/assets/images/team/team6.jpg" alt="Team Member 6">
            </div>
        </div>
    </div>
</body>
</html>
