.container-404 {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: black;
    padding: 20px;
}

.container-404 h1 {
    font-size: 7rem;
    margin: 0;
    color: #ff5252;
    animation: bounce 1.5s ease infinite alternate;
}
@media (max-width: 768px) {
    .container-404 h1 {
        font-size: 5rem;
    }

    .container-404 p {
        font-size: 1.4rem;
        text-align: center;
    }

    .container-404 a {
        padding: 12px 25px;
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .container-404 h1 {
        font-size: 3.5rem;
    }

    .container-404 p {
        font-size: 1.2rem;
    }

    .container-404 a {
        padding: 10px 20px;
        font-size: 1.2rem;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(-10px);
    }
}

.container-404 p {
    font-size: 1.6rem;
    color: #ffffff;
    margin: 10px 0 30px 0;
}

.container-404 a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0077ff;
    padding: 15px 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 119, 255, 0.4);
}

.container-404 a:hover {
    transform: scale(1.05);
}