.page-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

[data-bs-theme="dark"] .page-loading {
  background-color: #121519;
}

.page-loading.active {
  opacity: 1;
  visibility: visible;
}

.page-loading-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}


.page-loading.active>.page-loading-inner {
  opacity: 1;
}

.page-loading-inner>span {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #6f788b;
}

[data-bs-theme="dark"] .page-loading-inner>span {
  color: #fff;
  opacity: 0.6;
}

.page-spinner {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 0.75rem;
  vertical-align: text-bottom;
  background-color: #d7dde2;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner 0.75s linear infinite;
  animation: spinner 0.75s linear infinite;
}


[data-bs-theme="dark"] .page-spinner {
  background-color: rgba(255, 255, 255, 0.25);
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%);
}

html {
  font-family: system-ui, sans-serif;
  background-size: 224px;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}


.hero-title-h1,
.pratibha-hero-title-h1,
.shakti-hero-title-h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
  margin-top: 10%;

}

.hero-description-p,
.shakti-description-p {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

}

.programe-title-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #051d40;
}

.programe-paragraph-p,
.shaktiprograme-paragraph-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: #49494C;
}

.benefits-title-h3 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #121212;
  margin-left: -5px;
}

.benefits-content-container-p1,
.benefits-content-container-p2,
.benefits-content-container-p3 {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: #2b2e36;
}


.benefits-readmore-button {
  width: 162px;
  height: 48px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  border-radius: 8px;

}

.benefits-section2-p1 {
  font-family: Poppins, sans-serif;
  font-style: italic;
  line-height: 38px;
  margin-top: -35px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #252a34;
  text-align: justify;
}

.benefits-section-p2-dob,
.benefits-section2-p3 {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: #2b2e36;
  letter-spacing: 1px;
}

.benefits-section2-boldtext {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1px;
  text-align: left;
  color: #252a34;
}

.volunteer-heading-h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #2b2e36;
  width: 448px;
  height: 104px;
}
.update-title {
  font-size: 18px;
}
.update-description {
  font-size: 14px;
}
.update-date {
  font-size: 14px;
}
