---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/volunteer/Hero.astro";
import WhyVolunteer from "../../components/volunteer/WhyVolunteer.astro";
import ChooseVolunteering from "../../components/volunteer/ChooseVolunteering.astro";
import WhyIntern from "../../components/volunteer/WhyIntern.astro";
import ChooseIntern from "../../components/volunteer/ChooseIntern.astro";
---

<Layout>
  
  <main class="page-wrapper">
    <Hero />
    <WhyVolunteer />
    <ChooseVolunteering />
    <WhyIntern />
    <ChooseIntern />
  </main>

  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>

</Layout>
  

  
