---
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="/assets/css/404.css" />
<script src="/js/404-handler.js" defer></script>

<Layout title="404 - Kiran Foundation">
  <main class="page-wrapper">
    <div class="container-404">
      <h1>404</h1>
      <p>Sorry, the page you are looking for doesn't exist.</p>
      <p>
        <a href="/">Return to Homepage</a>
      </p>
    </div>
  </main>
</Layout>
