---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Home/Hero.astro";
import Statistics from "../components/Home/Statistics.astro";
import Programs from "../components/Home/Programs.astro";
import Volunteer from "../components/Home/Volunteer.astro";
import Updates from "../components/common/Updates.astro";
import Partners from "../components/Home/Partners.astro";
import Values from "../components/Home/Values.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import Heading from "../components/common/heading.astro";
import { getEntry } from "astro:content";
const testimonials = (await getEntry("testimonials", "testimonials")).data;

---

<Layout title="Kiran Foundation"
>
  <main class="page-wrapper">
    <Hero />
    <Values />
    <Statistics />
    <Programs />
    <Heading title={testimonials.title}/>
    <TestimonialsCarousel pageTag="home"/>
    <Volunteer/>
    <Updates showHighPriorityOnly={true} isMainPage={true} />
    <Partners />
  </main>
</Layout>

