---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Header from "../components/common/Header.astro";
import Hero from "../components/Home/Hero.astro";
import Statistics from "../components/Home/Statistics.astro";
import Programs from "../components/Home/Programs.astro";
import Volunteer from "../components/Home/Volunteer.astro";
import Updates from "../components/common/Updates.astro";
import Partners from "../components/Home/Partners.astro";
import Values from "../components/Home/Values.astro";
import Supporters from "../components/Home/Supporters.astro";
// import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import Footer from "../components/common/Footer.astro";


import Testimonial from "../components/common/Testimonial.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import Heading from "../components/common/heading.astro";

---

<script src="/assets/js/theme.min.js" is:inline></script>

<script>
  import AOS from "aos";
  AOS.init();
</script>
<script src="jarallax/dist/jarallax.min.js"></script>
<script src="simplebar/dist/simplebar.min.js"></script>
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<link rel="stylesheet" href="/assets/icons/around-icons.min.css" />

<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <title>Kiran Foundation</title>
    <meta
      name="description"
      content="Around - Multipurpose Bootstrap HTML Template"
    />
    <meta
      name="keywords"
      content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, light and dark mode, html5, css3, javascript, gallery, slider, touch, creative"
    />
    <meta name="author" content="Createx Studio" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      type="image/png"
      href="assets/app-icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="apple-touch-icon"
      href="assets/app-icons/apple-icon-180x180.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Theme switcher (color modes) -->

    <!-- Import Google font (Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
      id="google-font"
    />

    <!-- Vendor styles -->

    <!-- Page loading styles -->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s 0.2s ease-in-out;
        transition: all 0.4s 0.2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      [data-bs-theme="dark"] .page-loading {
        background-color: #121519;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #6f788b;
      }
      [data-bs-theme="dark"] .page-loading-inner > span {
        color: #fff;
        opacity: 0.6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: 0.75rem;
        vertical-align: text-bottom;
        background-color: #d7dde2;
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: spinner 0.75s linear infinite;
        animation: spinner 0.75s linear infinite;
      }
      [data-bs-theme="dark"] .page-spinner {
        background-color: rgba(255, 255, 255, 0.25);
      }
      @-webkit-keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
    </style>

    <!-- Page loading scripts -->
    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector(".page-loading");
          preloader.classList.remove("active");
          setTimeout(function () {
            preloader.remove();
          }, 1500);
        };
      })();
    </script>
  </head>

  <!-- Body -->
  <body>
    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>

    <!-- Page wrapper -->
    <main class="page-wrapper">
      <Header />
      <Hero />
      <Values />
      <Statistics />
      <Programs />
      <Volunteer/>
      <Heading title="Testimonials"/>
      <TestimonialsCarousel pageTag="home"/>
      <Updates showHighPriorityOnly={true} isMainPage={true} />
      <Partners />
      <Footer/>
      
    </main>

    <!-- Back to top button -->
    <a
      class="btn-scroll-top"
      href="#top"
      data-scroll
      aria-label="Scroll back to top"
    >
      <svg
        viewBox="0 0 40 40"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="19"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>

    <!-- Vendor scripts: JS libraries and plugins -->
  </body>
</html>
