---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/common/heading.astro";
import Hero from "../components/pratibha/Hero.astro";
import Intro from "../components/pratibha/Intro.astro";
import BenefitOne from "../components/pratibha/BenefitOne.astro";
import Mentoring from "../components/pratibha/Mentoring.astro";
import BenefitTwo from "../components/pratibha/BenefitTwo.astro";
import TestimonialsCarousel from "../components/common/TestimonialsCarousel.astro";
import SelectionProcess from "../components/pratibha/SelectionProcess.astro";
import Card from "../components/pratibha/Card.astro";
import FaqPratibha from "../components/pratibha/FaqPratibha.astro";
---

<script src="/assets/js/theme.min.js" is:inline></script>

<script>
  import AOS from "aos";
  AOS.init();
</script>
<script src="jarallax/dist/jarallax.min.js"></script>
<script src="simplebar/dist/simplebar.min.js"></script>
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<link rel="stylesheet" href="/assets/icons/around-icons.min.css" />

<Layout title="Pratibha">
  <!-- Page wrapper -->
  <main class="page-wrapper">
    <Hero />
    <Heading title="What we Do" />
    <Intro />
    <BenefitOne />
    <Mentoring />
    <BenefitTwo />
    <Heading title="Testimonials" />
    <TestimonialsCarousel pageTag="pratibha" />
    <Heading title="Selection Process" />
    <SelectionProcess />
    <Card />
    <FaqPratibha />
  </main>

  <!-- Back to top button -->
  <a
    class="btn-scroll-top"
    href="#top"
    data-scroll
    aria-label="Scroll back to top"
  >
    <svg
      viewBox="0 0 40 40"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="19"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>
</Layout>

<style>
  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    background: #e5f1ff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 20px;
  }

  .testimonial-text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #2b2e36;
    margin: 30px 0;
  }

  .testimonial-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .testimonial-name {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #2b2e36;
  }

  .testimonial-location {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #576071;
  }

  .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    object-fit: cover;
  }
</style>
