---
import 'aos/dist/aos.css'
import 'jarallax/dist/jarallax.min.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/common/Header.astro'
import Application from '../components/pratibha/Application.astro'
import FaqPratibha from '../components/pratibha/FaqPratibha.astro'
import AppPratibha from '../components/pratibha/PratibhaApp.astro'

interface Props {
  title: string
}
---

<script src='/assets/js/theme.min.js' is:inline></script>

<script>
  import AOS from 'aos'
  AOS.init()
</script>
<script src='jarallax/dist/jarallax.min.js'></script>
<script src='simplebar/dist/simplebar.min.js'></script>
<link rel='stylesheet' href='/assets/css/theme.min.css' />
<link rel='stylesheet' href='/assets/icons/around-icons.min.css' />
<link
  rel='icon'
  type='image/png'
  href='assets/app-icons/favicon-96x96.png'
  sizes='96x96'
/>
<link rel='stylesheet' href='/public/assets/css/Pratibha/pratibhaApply.css' />
<link rel='stylesheet' href='/public/assets/css/Pratibha/faq.css' />
<link rel='stylesheet' href='/public/assets/css/Pratibha/appPratibha.css' />

<Layout title='pratibha-apply'>
  <main class='page-wrapper'>
    <Header />
    <Application />
    <FaqPratibha />
    <div class='space'></div>
    <div class='space'></div>
    <div class='space'></div>
    <div class='space'></div>
    <AppPratibha />
    <div class='space'></div>
  </main>
</Layout>
