.volunteeringForm-frame {
    width: 1000px;
    height: 868px;
    margin: 200px;
    margin-bottom: 200px;
    border-radius: 36px;
    background: #051D40;
    padding: 96px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
  }

  .volunteeringForm-frame h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 52px;
    color: #fff;
  }

  .volunteeringForm-container {
    width: 800px;
    margin: 0 auto;
  }

  .volunteeringForm-input-container, .input-container-half {
    margin-bottom: 16px;
  }

  .volunteeringForm-input-container label, .input-container-half label {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #fff;
  }

  .volunteeringForm-input-container input, .volunteeringForm-input-container textarea, .volunteeringForm-input-container-half input {
    width: 100%;
    padding: 16px;
    border-radius: 18px;
    border: 1px solid #FFFFFF4D;
    background: transparent;
    color: #fff;
  }

  .volunteeringForm-input-container textarea {
    height: 128px;
    
  }

  .volunteeringForm-input-container-half {
    width: calc(50% - 8px);
    float: left;
  }

  .volunteeringForm-input-container-half:nth-child(odd) {
    padding-left: 1%;
    margin-right: 16px;
  }

  .volunteeringForm-container::after {
    content: "";
    display: block;
    clear: both;
  }

  .volunteeringForm-submit-button {
    width: 249px;
    height: 56px;
    padding: 12px 32px;
    border-radius: 8px;
    background-color: #F1592A;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    border: none;
    cursor: pointer;
  }