.WhyVolunteer-frame {
  width: 100%;
  height: 366px;
  max-width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.WhyVolunteer-frame-heading {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.WhyVolunteer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.WhyVolunteer-card {
  flex: 1;
  min-width: 300px;
  max-width: 370px;
  height: auto;
  padding: 20px;
  gap: 16px;
  border-radius: 36px;
  background: #e5f1ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhyVolunteer-card img {
  width: 50px;
  height: auto;
}

.WhyVolunteer-d-flex {
  display: flex;
}

.WhyVolunteer-align-items-center {
  align-items: center;
}

.WhyVolunteer-mb-3 {
  margin-bottom: 1rem;
}

.WhyVolunteer-flex-shrink-0 {
  flex-shrink: 0;
}

.WhyVolunteer-rounded-1 {
  border-radius: 0.25rem;
}

.WhyVolunteer-p-2 {
  padding: 0.5rem;
}

.WhyVolunteer-fs-sm {
  font-size: 0.875rem;
  text-align: center;
}

@media (max-width: 768px) {
  .WhyVolunteer-cards {
    flex-direction: column;
  }

  .WhyVolunteer-card {
    width: 100%;
    max-width: none;
  }
}
