<!-- Benefits -->
<section class="container pb-5 mb-lg-3 mb-xl-4 mb-xxl-5">
    <div class="row gy-3 pb-sm-3 pb-md-4 pb-lg-5">
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
            <div class="flex-shrink-0 rounded-1 p-2">
              <img  src="/assets/img/benefits/icon.png" alt="Image">            
            </div>
          </div>
          <h3 class="h5 ms-3 mb-0">Our Vision: Merit Base Society</h3>
        </div>
        <p class="fs-sm" style="word-wrap: break-word;">We dream of a society where everyone has equal opportunity to succeed. A society that prioritises merit, dedication and hard-work over wealth, social status and connections.</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
            <div class="flex-shrink-0 rounded-1 p-2">
              <img  src="/assets/img/benefits/icon3.png" alt="Image">            
            </div>
          </div>
          <h3 class="h5 ms-3 mb-0">Youth Empowerment</h3>
        </div>
        <p class="fs-sm" style="word-wrap: break-word;">To empower Youth from socially, physically and economically disadvantaged sections of society and provide wings t their dreams. Preparing youth to build a sustainable, progressive society.</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0 rounded-1 p-2">
            <div class="flex-shrink-0 rounded-1 p-2">
              <img  src="/assets/img/benefits/icon2.png" alt="Image">            
            </div>
          </div>
          <h3 class="h5 ms-3 mb-0">Woman Empowerment</h3>
        </div>
        <p class="fs-sm" style="word-wrap: break-word;">To Empower women with tools to make better decisions for themselves, their families and drive a positive social change. Empowered woman are essential for a strong and resilient society.</p>
    </div>
</section>
  
<section class="overflow-hidden pb-5">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div class="col-md-7" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <img class="object-fit-cover w-100 h-100 rounded-3" src="/assets/img/benefits/maa.png" alt="Image">
        </div>
        <div class="col-md-5" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
            <h2 class="mb-xl-4"></h2>
            <p class="mb-4 mb-xl-5" style="font-size: 24px; font-color:#252A34; word-wrap: break-word;">"If a hardworking and talented youth, can not fulfil her/his dreams due to lack of resources, it is failure of the whole society. We must keep the hopes and dreams alive!” </p>
            <p class="mb-4 mb-xl-5"><b>Maa Kiran Jain</b> <br> (17th Oct 1955- 15th June 2015)</p>
            <p class="mb-4 mb-xl-5">Kiran Foundation is an step towards that vision</p>  
            <div class="mt-">
              <a class="btn btn-outline-primary" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 