---
import { getEntry } from 'astro:content'
const hero = (await getEntry('home', 'hero')).data
const common = (await getEntry('common', 'common')).data
---

<section class='position-relative' style='margin-top: 4rem'>
  <div
    class='position-absolute object-fit-cover w-100 h-100 top-0 start-0 bg-size-cover bg-position-center mt-4'
    style='background-image: url(/assets/images/hero/hero.jpg);'
  >
  </div>
  <div class='container position-relative z-2 text-center pt-2 pt-sm-4 pt-lg-5'>
    <h1 class='h1 display-4 text-white pt-5'>
      {hero.title}
    </h1>
    <p
      class='hero-description-p text-white fs-xl opacity-90 mx-auto pb-3 pb-md-0 mb-4 mb-md-5'
      style=' max-width: 640px;'
    >
      {hero.description}
    </p>
    <a class='home-button btn btn-primary fw-bold' href='/volunteering'>
      {common.join}</a
    >
  </div>
  <div class='d-none d-lg-block' style='height: 360px;'></div>
  <div class='d-none d-md-block d-lg-none' style='height: 260px;'></div>
  <div class='d-md-none' style='height: 160px;'></div>
</section>
