---
import { remark } from "remark";
import html from "remark-html";
const allHero = import.meta.glob("/src/content/hero/*.md");
const hero = await Promise.all(
  Object.values(allHero).map(async (heroData) => {
    const { frontmatter, default: content } = await heroData();
    const processedContent = await remark().use(html).process(content);
    return { ...frontmatter, content: processedContent.toString() };
  })
);
---

<section class="position-relative" style="margin-top: 4rem">
  <div
    class="position-absolute object-fit-cover w-100 h-100 top-0 start-0 bg-size-cover bg-position-center mt-4"
    style="background-image: url(/assets/img/hero/hero.jpg);"
  >
  </div>
  <div class="container position-relative z-2 text-center pt-2 pt-sm-4 pt-lg-5">
    <h1 class="display-0 text-white pt-4 mt-3">
      {hero[0].title}
    </h1>
    <p
      class="text-white fs-xl opacity-90 mx-auto pb-3 pb-md-0 mb-4 mb-md-5"
      style="max-width: 640px;"
    >
      {hero[0].description}
    </p>
    <a class="btn btn-primary -pill" href="#">Join Us Now</a>
  </div>
  <div class="d-none d-lg-block" style="height: 360px;"></div>
  <div class="d-none d-md-block d-lg-none" style="height: 260px;"></div>
  <div class="d-md-none" style="height: 160px;"></div>
</section>
