<!-- Supporters -->
<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="col d-flex justify-content-center">
        <img class="d-dark-mode-none" src="/assets/img/supporters/supporter.png" width="544" alt="Image" style="margin-bottom: 3%;">
    </div>
    <div class="overflow-auto pb-sm-4 pb-md-5 pt-sm-2 pt-md-3 mt-n2 mt-sm-0 mt-md-1 mt-lg-3 mb-lg-2">
      <div class="row row-cols-5 g-0 pb-2" style="min-width: 768px;">
        <div class="col d-flex justify-content-center">
          <img class="d-dark-mode-none" src="/assets/img/supporters/supporter1.png" width="196" alt="Deloitte">
          <img class="d-none d-dark-mode-block" src="/assets/img/supporters/supporter1.png" width="196" alt="Deloitte">
        </div>
        <div class="col d-flex justify-content-center">
          <img src="/assets/img/supporters/supporter2.png" width="196" alt="Airbnb">
        </div>
        <div class="col d-flex justify-content-center">
          <img class="d-dark-mode-none" src="/assets/img/supporters/supporter3.png" width="196" alt="Champion">
          <img class="d-none d-dark-mode-block" src="/assets/img/supporters/supporter3.png" width="196" alt="Champion">
        </div>
        <div class="col d-flex justify-content-center">
          <img class="d-dark-mode-none" src="/assets/img/supporters/supporter4.png" width="196" alt="Financial Times">
          <img class="d-none d-dark-mode-block" src="/assets/img/supporters/supporter4.png" width="196" alt="Financial Times">
        </div>
        <div class="col d-flex justify-content-center">
          <img class="d-dark-mode-none" src="/assets/img/supporters/supporter5.png" width="196" alt="Clutch">
          <img class="d-none d-dark-mode-block" src="/assets/img/supporters/supporter5.png" width="196" alt="Clutch">
        </div>
      </div>
    </div>
</section>