<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shakti</title>
    <link rel="stylesheet" href="/assets/css/Home/Global.css">
</head>
<body>
  

<section class="overflow-hidden" style="margin-top:60px;">
    <div
    class="container bg-primary rounded-5 overflow-hidden mt-2 mt-sm-4 mt-lg-5"
    style="background-color: #051D40 !important; opacity: 1; "
  >
   
    <div class="row position-relative z-2 align-items-center">
      <div class="col-md-6 col-lg-5 offset-lg-1" >
        <div
          class="text-center text-md-start py-5 px-4 px-sm-5 pe-md-0 ps-lg-4 ps-xl-5" 
        >
         
          <h2 class="shakti-heading2-h1 text-white pb-2 pb-sm-3" >
            Yes! I am willing to make a difference.
          </h2>
          <a
            class="shaktiCardVolunteer-button mt-4 btn btn-primary btn-sm order-lg-3 d-none d-sm-inline-flex"
            href="/">Start your local sakti chapter</a
          >
        </div>
      </div>
      <div class="col-md-6 p-2">
        <img
          class="d-block mx-auto mx-md-0 mt-n4 mt-md-0 p-3"
           style="width:575px; height:320px; border-radius: 48px;"
           src="/assets/images/programs/volunteerImage.png"
           width="534"
           alt="Image"
        />
      </div>
    </div>
  </div>
      
</section>