.app-component-c1 {
    display: block;
    position: absolute;
    width: 1296px;
    height: 590px;
    left: 30px;
    top: 3015px;
    gap: 0px;
    border-radius: 36px;
    background: var(--royal-blue, #051D40);
    overflow: hidden;
}
.app-component-c1 .app-left-container {
    position: absolute;
    width: 425px;
    height: 222px;
    top: 121px;
    left: 43px;
    gap: 0px;
    font-family: Poppins, sans-serif;
    font-size: 57px;
    font-weight: 600;
    line-height: 74.1px;
    text-align: left;
    color: white;
}
.app-component-c1 .app-download-button {
    position: absolute;
    width: auto;
    height: auto;
    top: 381px;
    left: 43px;
    padding: 16px;
    border-radius: 8px;
    background: #F1592A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}
.app-component-c1 img {
    object-fit: cover;
}
.app-component-c1 .image1 {
    position: absolute;
    width: 197px;
    height: 192px;
    top: 134px;
    left: 488px;
    gap: 0px;
    border-radius: 18px 0px 0px 0px;
}
.app-component-c1 .image2 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 76px;
    left: 736px;
    gap: 0px;
}
.app-component-c1 .image3 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: -159px;
    left: 968px;
    gap: 0px;
}
.app-component-c1 .image4 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 311px;
    left: 968px;
    gap: 0px;
}