.aboutPratibha-container-c1 {
    width: 1288px;
    height: 188px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }

  .aboutPratibha-box {
    width: 298px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #2B2E36;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }

  .aboutPratibha-box-icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .aboutPratibha-box-icon img {
    width: 50px; 
    height: 50px; 
  }

  .aboutPratibha-box-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
  }

  .aboutPratibha-box-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    color: #49494C;
    padding: 10px;
    border-radius: 8px;
  }