.faq-container-c1 {
    display: flex;
    height: 523px;
    margin-left: 80px;
    gap: 20px;
    font-family: Poppins, sans-serif;
    width: 1170px;
    margin: auto;
    margin-bottom: 100px;
}

.faq-container-c2 {
    width: 416px;
    height: auto;
}

.faq-title {
    width: 416px;
    height: 120px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #121519;
}

.faq-content {
    width: 416px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #576071;
    padding: 8px;
    box-sizing: border-box;
}

.faq-container-c3 {
    flex-grow: 1;
    height: auto;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-accordion-item {
    width: 746px;
    border-radius: 18px;
    padding: 24px;
    background: #ffffff;
    transition: height 0.3s ease;
}

.faq-accordion-item.active .faq-accordion-answer {
    display: block;
}

.faq-accordion-question {
    width: 650px;
    height: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #051D40;
    cursor: pointer;
    margin-top: -7px;
   
    
}

.faq-accordion-answer {
    display: none;
    width: 650px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #051D40;
    margin-top: 16px;
}
.faq-image-content{
    width: 188.48px ;
    height:211.3px ;
    position: relative;
    top:20px;
    left: 106px;
    rotate: z -4.03deg ;
}
.pratibhaCard-image-container-vector{
    border-radius: 1px solid red;
    position:relative ;
    width:96.18px;
    height: 125px;
}
