.apply-container {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    font-family: Poppins, sans-serif;
}
.apply-title {
    width: 756px;
    height: 108px;
    margin: 134px auto 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #F1592A;
    padding: 10px;
}
.apply-subtitle {
    width: 1027px;
    height: 42px;
    margin: 20px auto;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding: 10px;
}
.apply-highlight-container {
    background: #E5F1FF;
    width: 1208px;
    height: 60px;
    margin: 20px auto;
    border-radius: 8px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.apply-highlight-text {
    width: 808px;
    height: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #2B2E36;
}
.apply-apply-button {
    width: 195px;
    height: 48px;
    border-radius: 8px;
    background: #F1592A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}
.apply-content-container, .apply-documents-container, .apply-apply-container {
    width: 1037px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.apply-content-container p, .apply-documents-container p, .apply-apply-container p {
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}
.apply-h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #051D40;
    margin: 0;
}
.apply-content-container h4, .apply-documents-container h4, .apply-apply-container h4 {
    color: #F1592A;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.apply-download-button {
    width: 308px;
    height: 48px;
    margin: 20px 90px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #F1592A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #F1592A;
    cursor: pointer;
    display: inline-block;
}
.apply-google-form {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #F1592A;
    display: inline-block;
    margin-left: 20px;
}