.selectionProcess-section-title {
    width: 1288px;
    height: 54px;
    margin: 20px auto;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #2B2E36;
    font-family: Poppins, sans-serif;
    background-color: #F7FCFE;
}
.selectionProcess-highlight-container {
    background: #F7FCFE;
    width: 1296px;
    height: 74px;
    margin: 20px auto;
}
.selectionProcess-content-container, .selectionProcess-documents-container, .selectionProcess-apply-container {
    width: 1037px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.selectionProcess-h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #051D40;
    margin: 0;
}
.selectionProcess-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #49494C;
    text-align: justify;
    margin: 0;
}
.selectionProcess-apply-button {
width: 189px;
height: 48px;
margin-left: 140px;
border-radius: 8px;
background: #F1592A;
color: #fff;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: center;
border: none;
cursor: pointer;
}