.selectionProcess-section-title {
    width: 1100px;
    height: 54px;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    color: #2B2E36;
    font-family: Poppins, sans-serif;
    background-color: #F7FCFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionProcess-highlight-container {
    background: #F7FCFE;
    width: 1100px;
    height: 74px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionProcess-content-container,
.selectionProcess-documents-container,
.selectionProcess-apply-container {
    width: 1037px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selectionProcess-h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #051D40;
    margin: 0;
}

.selectionProcess-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #49494C;
    text-align: justify;
    margin: 0;
}


.selectionProcess-apply-button {
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    width: 183px;
    height: 48px;
    border-radius: 8px;
    color: white;
    margin-left: 60px;
   
    
}

