.speaker-c1 {
    position: relative; 
    width: 100%;
    max-width: 1296px;
    height: auto; 
    padding: 2%;
    background: #051D40;
    border-radius: 36px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}

.speaker-c1-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: left;
    color: white;
    flex: 1;
    margin-right: 20px;
}

.speaker-c1-button {
    width: 223px;
    height: 56px;
    background: #F1592A;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
    text-align: center;
}