<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Volunteering/Form.css">
</head>
<body>
  <div class="volunteeringForm-frame">
    <h1>We'd love to hear from you</h1>
    <div class="cvolunteeringForm-ontainer">
      <form action="#" method="post">
        <div class="volunteeringForm-input-container">
          <label for="full-name">Full Name</label>
          <input type="text" id="full-name" name="full-name" placeholder="Enter your full name">
        </div>
        <div class="volunteeringForm-input-container-half">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="volunteeringForm-input-container-half">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" placeholder="Enter your phone number">
        </div>
        <div class="volunteeringForm-input-container">
          <label for="resume">Resume</label>
          <input type="text" id="resume" name="resume" placeholder="Upload your resume">
        </div>

        <div class="volunteeringForm-input-container">
          <label for="more">More Information</label>
          <textarea id="more" name="more" placeholder="Tell us more about yourself" rows="3"></textarea>
        </div>
        
        <button type="submit" class="volunteeringForm-submit-button">Send a Request</button>
      </form>
    </div>
  </div>
</body>
</html>
