<section class="position-relative" style="margin-top: 4rem; height: 862px;">
    <div class="position-absolute w-100 h-100 top-0 start-0 bg-size-cover bg-position-center" 
         style="background-image: url(/assets/img/hero/hero-image.jpg);">
    </div>
    <div class="position-absolute" style=" 
        background: rgba(0, 0, 0, 0.14);"
        >
    </div>
    <div class="d-none d-lg-block" style="height: 1920px;"></div>
</section>

