<section class="overflow-hidden pb-5">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div class="col-md-7 order-md-2" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <img class="object-fit-cover w-100 h-100 rounded-3" src="/assets/images/programs/program1.png" alt="Image">
        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
            <h2 class="mb-xl-4">To a new journey</h2>
            <p class="mb-4 mb-xl-5" style="line-height: 2.5;">Volunteering with us allows you to bring about change at the grassroots level. We welcome volunteers from all walks of life. Whatever your interest: be it education or something else, there’s an opportunity to match.
              Being a volunteer allows you to elevate your work to an adventure, a journey to a better tomorrow. So, where do you want to go?</p>
          </div>
        </div>
      </div>
    </div>
</section>