<!DOCTYPE html>
<html lang="en">
<head></head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteering</title>
  <link rel="stylesheet" href="/assets/css/Volunteering/WhyVolunteer.css">
</head>
<body>
  <section class="WhyVolunteer-frame">
    <h2 class="WhyVolunteer-frame-heading">Why Volunteer at Kiran Foundation?</h2>
    <div class="WhyVolunteer-cards">
      <div class="WhyVolunteer-card">
        <div class="WhyVolunteer-d-flex WhyVolunteer-align-items-center WhyVolunteer-mb-3">
          <div class="WhyVolunteer-flex-shrink-0 WhyVolunteer-rounded-1 WhyVolunteer-p-2">
            <img src="/assets/images/benefits/icon.png" alt="Image">
          </div>
        </div>
        <p class="WhyVolunteer-fs-sm" style="word-wrap: break-word;">Gain hands-on experience in a dynamic and impactful organization</p>
      </div>
      <div class="WhyVolunteer-card">
        <div class="WhyVolunteer-d-flex WhyVolunteer-align-items-center WhyVolunteer-mb-3">
          <div class="WhyVolunteer-flex-shrink-0 WhyVolunteer-rounded-1 WhyVolunteer-p-2">
            <img src="/assets/images/benefits/icon.png" alt="Image">
          </div>
        </div>
        <p class="WhyVolunteer-fs-sm" style="word-wrap: break-word;">Work alongside passionate individuals dedicated to social change</p>
      </div>
      <div class="WhyVolunteer-card">
        <div class="WhyVolunteer-d-flex WhyVolunteer-align-items-center WhyVolunteer-mb-3">
          <div class="WhyVolunteer-flex-shrink-0 WhyVolunteer-rounded-1 WhyVolunteer-p-2">
            <img src="/assets/images/benefits/icon.png" alt="Image">
          </div>
        </div>
        <p class="WhyVolunteer-fs-sm" style="word-wrap: break-word;">Contribute to meaningful projects that directly impact communities</p>
      </div>
    </div>
  </section>
</body>
</html>
