<!-- Footer -->
<footer class="footer">
  <div class="bg-secondary py-5">
    <div class="container pt-sm-2 pt-md-3 pt-lg-4">
      <div class="row gy-md-5 gy-4 mb-md-5 mb-4 pb-lg-2">
        <div class="col-lg-3">
          <a class="navbar-brand d-inline-flex align-items-center mt-0 mb-lg-4 mb-3" href="index.html">
            <span class="text-primary flex-shrink-0 me-2">
              <img class="text-primary flex-shrink-0 me-2" src="/Logo.png" width="107" height="66.61">
            </span>
          </a>
          <p class=" fs-sm pb-2 pb-md-3 mb-3" style="max-width: 306px;">Maa Kiran Jain (17th oct 1955 - 15th june 2015) used to say that "if a hardworking and talented youth,can not fulfill her/his dreams due to lack of resourses, it is failure of the whole society".</p>
          <div class="mt-n3 ms-n3">
              <a class="btn btn-secondary btn-icon btn-sm btn-x rounded-circle mt-3 ms-3" href="#" aria-label="Instagram">
                  <i class="ai-instagram"></i>
              </a>
              <a class="btn btn-secondary btn-icon btn-sm btn-x rounded-circle mt-3 ms-3" href="#" aria-label="Facebook">
                  <i class="ai-facebook"></i>
              </a>
              <a class="btn btn-secondary btn-icon btn-sm btn-x rounded-circle mt-3 ms-3" href="#" aria-label="LinkedIn">
                  <i class="ai-linkedin"></i>
              </a>
          </div>
        </div>
        <div class="col-xl-8 offset-xl-1 col-lg-9">
          <div class="row">
            <div class="col">
              <h4 class="h6 fw-bold pb-lg-1">About us</h4>
              <ul class="nav flex-column mb-0">
                <li class="nav-item mb-2">
                  <a class="nav-link p-0" href="#">Our Story</a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link p-0" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link p-0" href="#">Annual Report</a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link p-0" href="#">Financial Statement</a>
                </li>
              </ul>
            </div>
            <div class="col">
              <h4 class="h6 fw-bold pb-lg-1">Contact</h4>
              <ul class="nav flex-column mb-0"> 
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-envelope" style="font-size:24px"></i>&nbsp;  info@kiran.foundation </a></li>
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-phone" style="font-size:24px"></i>&nbsp; +91-9303997100 </a></li>
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; +91-9880141412 </a></li>
              </ul>
            </div>           
            <div class="col">
              <h4 class="h6 fw-bold pb-lg-1">We're Always Happy To Help</h4>
              <ul class="nav flex-column mb-0">                 
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Kiran Shakti Group </a></li>
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join English Speaking Club </a></li>
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Kiran Gyan Group </a></li>
                  <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Volunteers Group </a></li>
              </ul>
            </div>           
          </div>
        </div>
      </div>
      <div class="fs-sm text-body-secondary">&copy; Kiran Foundation <a href="#" target="_blank" rel="noopener" class="text-dark text-decoration-none opacity-90"></a></div>
    </div>
  </div>
</footer>