<!-- Footer -->
<footer class="footer py-5">
    <div class="container pt-md-2 pt-lg-3 pt-xl-4">
      <div class="row pb-5 pt-sm-2 mb-lg-2">
        <div class="col-md-4 col-lg-3 pb-2 pb-md-0 mb-4 mb-md-0">
          <a class="navbar-brand py-0 mb-3 mb-md-4" href="index.html">
            <span class="text-primary flex-shrink-0 me-2">
              <img class="text-primary flex-shrink-0 me-2" src="/logo_home.png" width="107" height="66.61">
            </span>
          </a>
          <p class="fs-sm pb-2 pb-md-3 mb-3">Maa Kiran Jain (17th oct 1955 - 15th june 2015) used to say that "if a hardworking and talented youth,can not fulfill her/his dreams due to lack of resourses, it is failure of the whole society".</p>
          <div class="d-flex gap-3">
            <a class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle" href="#" aria-label="Instagram">
              <i class="ai-instagram"></i>
            </a>
            <a class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle" href="#" aria-label="Facebook">
              <i class="ai-facebook"></i>
            </a>
            <a class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle" href="#" aria-label="LinkedIn">
              <i class="ai-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="col-md-8 col-lg-7 col-xl-6 offset-lg-2 offset-xl-3">
          <div class="row row-cols-1 row-cols-sm-3" style="--ar-gutter-x: 0.5rem;">
            <div class="col mb-4 mb-md-0">
              <h4 class="h6 fw-bold pb-lg-1">About us</h4>
              <ul class="nav flex-column">
                <li><a class="nav-link fw-normal py-1 px-0" href="#">Our Story</a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#">Privacy Policy</a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#">Annual Report</a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#">Financial Statement</a></li>
              </ul>
            </div>
            <div class="col mb-4 mb-md-0">
              <h4 class="h6 fw-bold pb-lg-1">Contact</h4>
              <ul class="nav flex-column">
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-envelope" style="font-size:24px"></i>&nbsp;  info@kiran.foundation </a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-phone" style="font-size:24px"></i>&nbsp; +91-9303997100 </a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; +91-9880141412 </a></li>
              </ul>
            </div>
            <div class="col mb-4 mb-md-0">
              <h4 class="h6 fw-bold pb-lg-1">We're Always Happy To Help</h4>
              <ul class="nav flex-column">
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Kiran Shakti Group </a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join English Speaking Club Group </a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Kiran Gyan Group </a></li>
                <li><a class="nav-link fw-normal py-1 px-0" href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i>&nbsp; Join Volunteers Group </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p class="nav fs-sm mb-0">
        <span class="text-body-secondary">&copy; Kiran.Foundation</span>
        <a class="nav-link fw-normal p-0 ms-1" href="#" target="_blank" rel="noopener"></a>
      </p>
    </div>
</footer>              