<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->
<header class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <!-- Navbar brand (Logo) -->
    <a class="navbar-brand pe-sm-3" href="index.html">
      <span class="text-primary flex-shrink-0 me-2">
        <svg width="35" height="32" viewBox="0 0 36 33">
          <img  src="/Logo.png" width="107" height="66.61" alt="kiran foundation logo">
        </svg>
      </span>
    </a>

    <div class=" space-x-4 order-lg-3 ">
      <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank" rel="noopener">
        <i class=" fs-xl me-2 ms-n1"></i>
        Donate
      </a>
      <button type="button" class="btn btn-outline-primary space-x-4 btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex ">Be a Volunteer</button>  
    </div>

    <!-- Mobile menu toggler (Hamburger) -->
    <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse (Main navigation) -->
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Our Programs</a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="portfolio-list-v1.html">List View v.1</a></li>
                <li><a class="dropdown-item" href="portfolio-list-v2.html">List View v.2</a></li>
                <li><a class="dropdown-item" href="portfolio-grid-v1.html">Grid View v.1</a></li>
                <li><a class="dropdown-item" href="portfolio-grid-v2.html">Grid View v.2</a></li>
                <li><a class="dropdown-item" href="portfolio-slider.html">Slider View</a></li>
                <li><a class="dropdown-item" href="portfolio-single-v1.html">Single Project v.1</a></li>
                <li><a class="dropdown-item" href="portfolio-single-v2.html">Single Project v.2</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="shop-catalog.html">Catalog (Listing)</a></li>
                <li><a class="dropdown-item" href="shop-single.html">Product Page</a></li>
                <li><a class="dropdown-item" href="shop-checkout.html">Checkout</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="blog-grid-sidebar.html">Grid View with Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-grid.html">Grid View no Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-list-sidebar.html">List View with Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-list.html">List View no Sidebar</a></li>
                <li><a class="dropdown-item" href="blog-single-v1.html">Single post v.1</a></li>
                <li><a class="dropdown-item" href="blog-single-v2.html">Single post v.2</a></li>
                <li><a class="dropdown-item" href="blog-single-v3.html">Single post v.3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="about-agency.html">About - Agency</a></li>
                <li><a class="dropdown-item" href="about-product.html">About - Product</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="services-v1.html">Services v.1</a></li>
                <li><a class="dropdown-item" href="services-v2.html">Services v.2</a></li>
                <li><a class="dropdown-item" href="services-v3.html">Services v.3</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contacts</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="contacts-v1.html">Contacts v.1</a></li>
                <li><a class="dropdown-item" href="contacts-v2.html">Contacts v.2</a></li>
                <li><a class="dropdown-item" href="contacts-v3.html">Contacts v.3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Specialty Pages</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="coming-soon-v1.html">Coming Soon v.1</a></li>
                <li><a class="dropdown-item" href="coming-soon-v2.html">Coming Soon v.2</a></li>
                <li><a class="dropdown-item" href="404-v1.html">404 Error v.1</a></li>
                <li><a class="dropdown-item" href="404-v2.html">404 Error v.2</a></li>
                <li><a class="dropdown-item" href="404-v3.html">404 Error v.3</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components/typography.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components/typography.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="docs/getting-started.html">Gallery</a>
        </li>
      </ul>
      <div class="d-sm-none p-3 mt-n3">
        <a class="btn btn-primary w-100 mb-1" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank" rel="noopener">
          <i class="ai-cart fs-xl me-2 ms-n1"></i>
          Buy now
        </a>
      </div>
    </nav>
  </div>
</header>