---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<div class="container-c1">
    <div class="container-c3">
        <div class="line-upper"></div>
        <div class="line-lower"></div>
    </div>
    <div class="heading">{title}</div>
    <div class="container-c2">
        <div class="line-upper"></div>
        <div class="line-lower"></div>
    </div>
</div>
