---
interface Props {
  title: string
}
const { title } = Astro.props
---

<div
  class='d-flex flex-row gap-3 justify-content-center align-items-center'
  style='margin-top: 50px; margin-bottom: 15px;'
>
  <div class='d-flex flex-column gap-1'>
    <div class='line-upper' style="margin-left: 20px;"></div>
    <div class='line-lower'></div>
  </div>
  <div class='display-4' style='color: #2b2e36;'>{title}</div>
  <div class='d-flex flex-column gap-1'>
    <div class='line-upper'></div>
    <div class='line-lower'></div>
  </div>
</div>
