<!-- Services: Travel insurance -->
<section class="overflow-hidden pb-5">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div class="col-md-7 order-md-2" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <img class="object-fit-cover w-100 h-100 rounded-3" src="assets/img/landing/insurance/services/02.jpg" alt="Image">
        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
            <h2 class="mb-xl-4">Travel insurance</h2>
            <p class="mb-4 mb-xl-5">Explore the world with confidence, knowing you're protected wherever you go. Discover our travel insurance plans designed to keep you safe on your journeys. From solo escapades to family getaways, we offer a range of travel insurance options to match your travel style and needs.</p>
            <ul class="list-unstyled mb-4 mb-xl-5">
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Comprehensive protection
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Tailored plans
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Emergency medical assistance
              </li>
            </ul>
            <div class="mt-auto">
              <a class="btn btn-outline-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


  <!-- Services: Health insurance -->
<section class="overflow-hidden pb-5">
    <div class="container pb-sm-3 mb-md-2 mb-lg-3">
      <div class="row g-4">
        <div class="col-md-7" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <img class="object-fit-cover w-100 h-100 rounded-3" src="assets/img/landing/insurance/services/03.jpg" alt="Image">
        </div>
        <div class="col-md-5" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
          <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
            <h2 class="mb-xl-4">Health insurance</h2>
            <p class="mb-4 mb-xl-5">Your health and well-being are our top priorities. We're more than just insurance; we're your partner in good health. We offer a range of health insurance options to suit your unique healthcare needs.</p>
            <ul class="list-unstyled mb-4 mb-xl-5">
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Manage your policy online - anywhere, anytime
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                International coverage
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Fast access to treatment
              </li>
              <li class="d-flex pb-2 mb-1">
                <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                Fast, simple claiming
              </li>
            </ul>
            <div class="mt-auto">
              <a class="btn btn-outline-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>