<!-- Statistics -->
<section class="bg-secondary position-relative py-4 py-md-5">
    <div class="container position-relative z-2">
      <div class="row row-cols-2 row-cols-md-4">
        <div class="col">
          <div class="py-3 my-lg-2 my-xl-3">
            <div class="text-dark display-4 mb-1">16</div>
            <p class="fs-xl mb-0">Speakers</p>
          </div>
        </div>
        <div class="col">
          <div class="py-3 ps-xl-4 my-lg-2 my-xl-3">
            <div class="text-dark display-4 mb-1">12+</div>
            <p class="fs-xl mb-0">Hours on stage</p>
          </div>
        </div>
        <div class="col d-flex justify-content-md-center">
          <div class="py-3 my-lg-2 my-xl-3">
            <div class="text-dark display-4 mb-1">1,5k</div>
            <p class="fs-xl mb-0">Offline attendees</p>
          </div>
        </div>
        <div class="col d-flex justify-content-md-end">
          <div class="py-3 pe-xl-4 my-lg-2 my-xl-3">
            <div class="text-dark display-4 mb-1">100%</div>
            <p class="fs-xl mb-0">Good times</p>
          </div>
        </div>
      </div>
    </div>
</section>