      <!-- Trainers (Grid) -->
    <section class="container pb-2 pb-sm-3 pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
        <h2 class="h1 text-center pt-2 pt-sm-4 pt-lg-5 pb-2 mb-3 mb-lg-4 mt-md-3 mt-lg-0">We employ the best trainers</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
          <div class="col text-center pt-2">
            <a class="card-hover card-lifted d-inline-block text-decoration-none" href="#">
              <img class="card-lifted d-block rounded-5 mb-3" src="assets/img/landing/yoga-studio/trainers/01.jpg" width="340" alt="Alisa Black">
              <h3 class="h5 mb-1">Alisa Black</h3>
              <p class="mb-0 text-body-secondary">Fly-yoga trainer</p>
            </a>
          </div>
          <div class="col text-center pt-2">
            <a class="card-hover card-lifted d-inline-block text-decoration-none" href="#"><img class="card-lifted d-block rounded-5 mb-3" src="assets/img/landing/yoga-studio/trainers/02.jpg" width="340" alt="Michelle Yang">
              <h3 class="h5 mb-1">Michelle Yang</h3>
              <p class="mb-0 text-body-secondary">Fly-yoga and relax trainer</p>
            </a>
          </div>
          <div class="col text-center pt-2">
            <a class="card-hover card-lifted d-inline-block text-decoration-none" href="#">
              <img class="card-lifted d-block rounded-5 mb-3" src="assets/img/landing/yoga-studio/trainers/03.jpg" width="340" alt="Robert Fox">
              <h3 class="h5 mb-1">Robert Fox</h3>
              <p class="mb-0 text-body-secondary">Stretching trainer</p>
            </a>
          </div>
          <div class="col text-center pt-2">
            <a class="card-hover card-lifted d-inline-block text-decoration-none" href="#">
              <img class="card-lifted d-block rounded-5 mb-3" src="assets/img/landing/yoga-studio/trainers/04.jpg" width="340" alt="Jane Cooper">
              <h3 class="h5 mb-1">Jane Cooper</h3>
              <p class="mb-0 text-body-secondary">Fly-yoga trainer</p>
            </a>
          </div>
        </div>
    </section>