<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiran Pratibha 2024</title>
    <link rel="stylesheet" href="/assets/css/Pratibha/appPratibha.css">
</head>
<body>
    <div class="app-component-c1">
        <div class="app-left-container">
            Ready to Download Pratibha App?
        </div>
        <button class="app-download-button">Download App</button>
        <img src="/assets/img/hero/hero-image.jpg" alt="Hero Image 1" class="image1">
        <img src="/assets/img/hero/hero-image.jpg" alt="Hero Image 2" class="image2">
        <img src="/assets/img/hero/hero-image.jpg" alt="Hero Image 3" class="image3">
        <img src="/assets/img/hero/hero-image.jpg" alt="Hero Image 4" class="image4">
    </div>
</body>
</html>
