<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Pratibha/benefits.css">
  <title>Pratibha</title>
</head>
<body>
</body><div class="aboutPratibha-container-c1">
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/img/icons/icon1.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Tuition Fee</h3>
      <p class="aboutPratibha-box-content">Education related fee e.g. School fee, Coaching fee, Exam fee.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/img/icons/icon2.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Tuition Fee</h3>
      <p class="aboutPratibha-box-content">Education related fee e.g. School fee, Coaching fee, Exam fee.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/img/icons/icon3.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Tuition Fee</h3>
      <p class="aboutPratibha-box-content">Education related fee e.g. School fee, Coaching fee, Exam fee.</p>
    </div>
    <div class="aboutPratibha-box">
      <div class="aboutPratibha-box-icon">
        <img src="/assets/img/icons/icon4.png" alt="Icon"> 
      </div>
      <h3 class="aboutPratibha-box-heading">Tuition Fee</h3>
      <p class="aboutPratibha-box-content">Education related fee e.g. School fee, Coaching fee, Exam fee.</p>
    </div>
  </div>
</body>
</html>