<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pratibha</title>
  <link rel="stylesheet" href="/assets/css/Pratibha/pratibhaCard.css">

</head>
<body>
  <div class="pratibhaCard-container">
    <div class="pratibhaCard-image-container">
      <img src="/assets/img/hero/hero-image.jpg" alt="Mentoring Image">
    </div>
    <div class="pratibhaCard-content-container">
      <h2>Be a mentor and help shape someone's future.</h2>
      <button>Get Started</button>
    </div>
  </div>
</body>
</html>
