---
import { getEntry } from "astro:content"
const aboutMentoring =(await getEntry("pratibha", "mentoring")).data
---
<section class="overflow-hidden" style="margin-top:60px;">
  <div class="container pb-sm-3 mb-md-2 mb-lg-3">
    <div class="row g-4">
      <div
        class="col-md-7 order-md-2"
        data-aos="fade-left"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <img
          class="object-fit-cover w-100 h-100 rounded-3"
          src="/assets/images/programs/pratibhaMentoring.png"
          alt="Image"
        />
      </div>
      <div
        class="col-md-5 order-md-1"
        data-aos="fade-right"
        data-aos-duration="600"
        data-aos-offset="280"
        data-disable-parallax-down="md"
      >
        <div
          class="d-flex flex-column h-100 rounded-3 py-5 px-4 px-lg-5"
          style="background: #F7FCFE;"
        >
          <h2 class="programe-title-h2 mb-xl-4">{aboutMentoring.title}</h2>
          <p class="programe-paragraph-p mb-4 mb-xl-5" style="line-height: 2;">
            {aboutMentoring.description}
          </p>
          
        </div>
      </div>
    </div>
  </div>
</section>