<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Volunteering/AboutVolunteerRole.css">
  <title>Volunteering</title>
</head>
<body>
  <div class="aboutVolunteering-frame1">
    <div class="aboutVolunteering-frame2">
      <h1>Kiran foundation scholarship programme</h1>
    </div>
    <div class="aboutVolunteering-frame3">
      <h2>Eligibility :</h2>
      <p>Monthly income of the Family should be less than Rs. 20,000.<br>Child should have passed 8th Standard or 14 Years of age.<br>RChild should have shown enormous potential in his/her field of interest.
    </div>
    <div class="aboutVolunteering-frame4">
      <h2>Documents:</h2>
      <p>Identity proof (Aadhaar Card/Voter ID/Driving License)<br>Identity proof (Aadhaar Card/Voter ID/Driving License)<br>Identity proof (Aadhaar Card/Voter ID/Driving License)<br>Identity proof (Aadhaar Card/Voter ID/Driving License)<br></p>
    </div>
    <div class="aboutVolunteering-button-container">
      <button class="aboutVolunteering-apply-button">Apply Now</button>
    </div>
  </div>
</body>
</html>