<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Process</title>
    <link rel="stylesheet" href="/assets/css/Pratibha/selectionProcess.css">
</head>
<body>
    <div class="selectionProcess-highlight-container">
        <div class="selectionProcess-section-title">Kiran Foundation Scholarship Programme for Students (Means Tested)</div>
    </div>
    <div class="selectionProcess-content-container">
        <h4 class="selectionProcess-h4">Eligibility :</h4>
        <p class="selectionProcess-p">Monthly income of the Family should be less than Rs. 20,000.<br>
        Child should have passed 8th Standard or 14 Years of age.<br>
        Child should have shown enormous potential in his/her field of interest.</p>
    </div>
    <div class="selectionProcess-documents-container">
        <h4 class="selectionProcess-h4">Documents:</h4>
        <p class="selectionProcess-p">Previous year's Marksheets<br>
        Identity proof (Aadhaar Card/Voter ID/Driving License)<br>
        Two recommendation letters from school principle / college principle and respectable person of your area.<br>
        Income certificate.<br>
        Details of family/personal crisis (if applicable)</p>
    </div>
    <div class="selectionProcess-apply-container">
        <h4 class="selectionProcess-h4">How can you apply?</h4>
        <p class="selectionProcess-p">Click on the Apply now button below<br>
        Fill in the required details in the online application form.<br>
        Upload relevant documents<br>
        If all the details filled in the application are correctly showing on the preview screen, click on the ‘Submit’ button to complete the application process.</p>
    </div>
    <div class="selectionProcess-button-container">
      <button class="selectionProcess-apply-button">Apply Now</button>
    </div>
</body>
</html>